<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @server.login %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @server.pass %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @server.domain %>
</p>

<p>
  <strong>Host:</strong>
  <%= @server.host %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
