<p id="notice"><%= notice %></p>

  <table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Login</th>
      <th>Member of Group</th>
      </tr>


<%
		ldap = Net::LDAP.new
		@server.dig
		ldap.host = @server.host
		ldap.port = 389
 		ldap.auth @server.login+"@#{@server.domain}", @server.pass
		treebase = @server.domain.split('.').map {|d| "dc=#{d}" }.join(',') 

	filter = Net::LDAP::Filter.eq( "objectclass", "person" ) %>
	
	<%ldap.search( :base => treebase, :filter => filter ) do |entry_2| %>
	<tr>
	<td><%= link_to entry_2.sAMAccountName.join '#' %></td>
	<td><%= entry_2.cn.join %></td>
	<td><%= entry_2.objectclass %></td>
	<td><%= entry_2.dn %></td>
	</tr>
	
    <%  end %>




<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
